*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    margin: 0 auto;
}
header{
    width: 100%;
    background-color: black;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;   
}
header p{
    color: #ffffff;
}
header input{
    width: 250px;
    height: 35px;
    background-color:#484242;
    border-radius: 10px;
    text-align: center;
}
header button{
    width: 100px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 10px;
}
.nav-wrapper{
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}
.ipone-full div{
    text-align: center;
    margin-top: 20px;
}
.ipone-full .iPhone-14{
    font-size: 20px;
    font-weight: 600;
}
.ipone-full .Wonderfuul{
    font-size: 30px;
    font-weight: 800;
}
.ipone-full button{
    width: 67px;
    height: 40px;
    border-radius: 24px;
    background-color: #73aee9;
    border: none;
    color: white;
    font-weight: 500;
}
.ipone-full .Learn-more{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #06c;
    margin-left: 20px;
    text-decoration: none;
}
.ipone-full .arrow-right{
    width: 5px;
    height: 10px;
    color: #06c;
}
.ipone-full .Learn-more :hover{
    text-decoration: underline;
}
.hero-iphone{
    width: 100%;
    background-color: black;
}
.hero-iphone div{
    text-align: center;
    margin-top: 20px;
}
.hero-iphone .iPhone-14-pro{
    color: #ffffff;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 600;
}
.hero-iphone .pro-beyond{
    color: #ffffff;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1px;
}
.hero-iphone .price{
    color: #ffffff;
}
.hero-iphone button{
    width: 67px;
    height: 40px;
    border-radius: 24px;
    background-color: #73aee9;
    border: none;
    color: white;
    font-weight: 500;
}
.hero-iphone .Learn-more{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #06c;
    margin-left: 20px;
    text-decoration: none;
}
.hero-iphone .Learn-more :hover{
    text-decoration: underline;
}
.iPhone-ce{
    display: flex;
    justify-content: space-evenly;
    margin-top: 13px;
    background-color: #fbfbfd;
}
.iPhone-ce .left-iPhone-ce{
    margin-top: 300px;
}
.iPhone-ce .Love-the-power{
    font-size: 35px;
    letter-spacing: 1px;
    color: #06c;
    font-weight: 800;
}
.iPhone-ce button{
    width: 67px;
    height: 40px;
    border-radius: 24px;
    background-color: #73aee9;
    border: none;
    color: white;
    font-weight: 500;
}
.iPhone-ce .Learn-more{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #06c;
    margin-left: 20px;
    text-decoration: none;
}
.iPhone-ce .arrow-right{
    width: 5px;
    height: 10px;
    color: #06c;
}
.iPhone-ce .Learn-more :hover{
    text-decoration: underline;
}
.guided-tour{
    margin-top: 10px;
}
.guided-tour-img img{
    width: 80%;
    border-radius: 25px;
    margin-left: 10%;
}
.guided-tour-img{
    position: relative;
}
.guided-wrapper{
    position: absolute;
    position: absolute;
    margin-left: 358px;
    margin-top: -476px;
}
.guided-wrapper :first-child span{
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
}
.guided-wrapper span{
    font-size: 40px;
    font-weight: 1000;
    color: #ffffff
}
.guided-wrapper button{
    width: 120px;
    height: 35px;
    background-color: white;
    font-size: 15px;
    border-radius: 20px;
    margin-top: 5px;
}
.iphone-h2{
    font-size: 35px;
    text-align: center;
    margin-top: 70px;
}
.iPhone-wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: center;
    padding: 50px;
}
.iPhone-wrapper-1 .new{
    color: #bf4800;
}
.iPhone-wrapper-1 p{
    color: rgb(68 59 59);
}
.iPhone-wrapper-1 .from-from{
    color: rgb(68 59 59);
    margin-top: 15px;
}
.iPhone-wrapper-1 button{
    width: 67px;
    height: 40px;
    border-radius: 24px;
    background-color: #73aee9;
    border: none;
    color: white;
    font-weight: 500;
    margin: 10px;
}
.iPhone-wrapper-1.Learn-more{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #06c;
    margin-left: 20px;
    text-decoration: none;
}
.iPhone-wrapper-1 .arrow-right{
    width: 5px;
    height: 10px;
    color: #06c;
}
.iPhone-wrapper-1 .Learn-more :hover{
    text-decoration: underlin
} 
.wrapper-Super-Retina{
    display: flex;
    justify-content: space-evenly;
    text-align: center;   
}
.wrapper-Super-Retina img{
    margin-top: 50px;
}
.wrapper-Super-Retina :first-child img{
    margin-top: 45px;
}
.shop{
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
} 
.shop a{
    margin-left: 20px;
    text-decoration: none;
}
.shop a:hover{
    text-decoration: underline;
}
.wrapper-price-credit{
    width: 100%;
    background-color: #fbfbfd;
}
.wrapper-price-credit h2{
    margin-top: 100px;
    padding: 60px;
    text-align: center;
    font-size: 50px;
}
.price-credit{
    width: 455px;
    height: 455px;
    border: black ;
    background-color: #ffffff;
}


